img {
  width: 800px;
  position: absolute;
}
@keyframes moveup {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(15px, -25px);}
  100% {transform: translate(0px, 0px);}
}
@keyframes moveup2 {
  0% {transform: translate(20px, -30px);}
  50% {transform: translate(55px, -65px);}
  100% {transform: translate(20px, -30px);}
}
@keyframes moveup3 {
  0% {transform: translate(60px, -70px);}
  50% {transform: translate(90px, -100px);}
  100% {transform: translate(60px, -70px);}
}


.img1 {
  animation-name: moveup;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.img2 {
  animation-name: moveup2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.img3 {
  animation-name: moveup3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
