<div class="home">
  <div class="header">
    <div class="content">
      <img class="lotus selectDisable" src="../../assets/lotus.png">
      <p class="selectDisable">Lotus Developments</p>
    </div>
  </div>
  <div class="body">
    <div class="container">
      <div class="card main">
        <img class="img1" src="../../../assets/images/img1.png">
        <img class="img2" src="../../../assets/images/img2.png">
        <img class="img3" src="../../../assets/images/img3.png">
        <div class="card-body">
          <div class="text text2">
            <h1>Lotus Developments</h1>
            <p>Lorum ipsum.</p>
          </div>
        </div>
        <div class="card-footer mainfoot">
          <div class="text text2">Technologies used:
            <span class="fa fa-phone"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="card main">
          <div class="card-body">
            <div class="text">
              <h1>Lotus Developments</h1>
              <p>Lorum ipsum.</p>
            </div>
          </div>
          <div class="card-footer mainfoot">
            <div class="text">Technologies used:
              <span class="fa fa-phone"></span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>