<div class="body">
  <div class="logo">
    <img src="http://lotusgfx.com/images/lotus.png">
    <h1>Lotus Development</h1>
    <p>Alex Kondratenko and Slavic Sidorov</p>
    <div class="hovertext">
      <i class="tech fa fa-code fa-3x" aria-hidden="true"></i>
      <span class="hoverdisplay">Coding</span>
    </div>
    <div class="hovertext">
      <i class="tech fa fa-html5 fa-3x" aria-hidden="true"></i>
      <span class="hoverdisplay">HTML5</span>
    </div>
  </div>
  <app-about-desc></app-about-desc>
  <app-code-copy code='<h1>hey</h1> /n <p>lol</p>'></app-code-copy>
  <app-code-copy code='Code copyingaa component'></app-code-copy>
</div>
