/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

.aboutImage {
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.cardComp {
  display: inline-block;
  width: 225px;
  height: auto;
  margin: 25px;
  padding: 10px;
}
.cardHolder {
  margin: auto;
  text-align: center;
}
.hovertext {
  position: relative;
  display: inline-block;
}
.hovertext .hoverdisplay {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.hovertext .hoverdisplay::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.hovertext:hover .hoverdisplay {
  visibility: visible;
  opacity: 1;
}
.is-active {
  color: white;
  font-color: white;
}
