<div class="body">

  <div class="text">
    <a href="https://getbootstrap.com/docs/4.0/components/card/">Cool card & buttons bootstrap</a>
  </div>

  <div class="card">
    <div class="card-header hey">
    </div>
    <div class="card-header">
      hey
    </div>
    
    <div class="text">
      Testing bootstrap card design
    </div>
  </div>
</div>

<div class="body">
  <div class="card">
    <div class="card-header hey2">
    </div>
    <div class="card-header">
      hey
    </div>
    
    <div class="text">
      Testing bootstrap card design
    </div>
  </div>
</div>

<div class="body">
  <div class="card">
    <div class="card-header hey2">
    </div>
    
    <div class="text">
      Testing bootstrap card design
    </div>
  </div>
</div>

<div class="body">
  <div class="card">
    <div class="card-header hey2 hey4">
    </div>
    
    <div class="text">
      <h2>Hey there!</h2>
      _________________________
      <p>bootstrap card test.</p>
      <p>bootstrap card test.</p>
      <p>bootstrap card test.</p>
      <p>bootstrap card test.</p>
      <p>bootstrap card test.</p>
      <p>bootstrap card test.</p>
      <p>bootstrap card test.</p>
    </div>
  </div>
</div>