<div class="mainContainer">
        <img class=".slide-in-elliptic-top-fwd" src="../../../assets/images/lotus.png">
    <div class="introTextContainer">
            <span [hideCursorOnComplete]="true" typingAnimation [typeSpeed]="40" [condition]="start" [startDelay]="1000" (complete)="onTypingAnimationComplete()">Lotus Developments</span>
            <br>
            <span class="line2" typingAnimation [hideCursorOnComplete]="true"  [typeSpeed]="50" [condition]="start" [startDelay]="2700" (complete)="onTypingAnimationComplete()">Development done right.</span>
            <div class="nextButton">

        </div>
    </div>
    
</div>