<div class="home">
    <div [@lotusPetal]='state' class="petal">
        hey
    </div>
    <div class="animate">
        <img [@lotusPetal]='state' src="../../assets/animate/1.png">
        <img [@lotusPetal1]='state' src="../../assets/animate/2.png">
        <img [@lotusPetal2]='state' src="../../assets/animate/3.png">
        <img [@lotusPetal3]='state' src="../../assets/animate/4.png">
        <img [@lotusPetal4]='state' src="../../assets/animate/5.png">
        <img [@lotusPetal5]='state' src="../../assets/animate/6.png">
        <img [@lotusPetal6]='state' src="../../assets/animate/7.png">
    </div>
</div>