<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <a class="navbar-brand">
      <img class="logoImage" src="http://lotusgfx.com/images/lotus.png">
    </a>
    <li class="nav-item">
      <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about">About</a>
    </li>
    <li class="nav-item">
      <div class="ml-auto">
        <current-time></current-time>
      </div>
    </li>
  </ul>
</nav>
<a href="test2">TEST</a>

<router-outlet></router-outlet>
